.task-list-item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}